<%- include ../elements/head.ejs %>
<body>
    <div id="templatemo_container">
        <%- include ../elements/header.ejs %>
        <div id="templatemo_content">
            <%- include ../elements/sidebar.ejs %>
            <div id="templatemo_content_right">
                <form method="POST" action="/books/add" enctype="multipart/form-data">
                    <div class="form-control">
                        <label>Book Name</label>
                        <input type="text" name="name" value="<%= typeof name !== 'undefined' ? name : '' %>">
                    </div>
                    <div class="form-control">
                        <label>Author Name</label>
                        <input type="text" name="author" value="<%= typeof author !== 'undefined' ? author : '' %>">
                    </div>
                    <div class="form-control">
                        <label>Description</label>
                        <textarea name="description"><%= typeof description !== 'undefined' ? description : '' %></textarea>
                    </div>
                    <div class="form-control">
                        <label>Price</label>
                        <input type="text" name="price" value="<%= typeof price !== 'undefined' ? price : '' %>">
                    </div>
                    <div class="form-control">
                        <label>Number of Pages</label>
                        <input type="text" name="pages" value="<%= typeof pages !== 'undefined' ? pages : '' %>">
                    </div>
                    <div class="form-control">
                        <label>Short Note</label>
                        <input type="text" name="note" value="<%= typeof note !== 'undefined' ? note : '' %>">
                    </div>
                    <div class="form-control">
                        <label>Image</label>
                        <input type="file" name="image">
                    </div>
                    <div class="form-control">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
        <%- include ../elements/footer.ejs %>
    </div>
</body>
<%- include ../elements/foot.ejs %>