<%- include ../elements/head.ejs %>
<body>
    <div id="templatemo_container">
        <%- include ../elements/header.ejs %>
        <div id="templatemo_content">
            <%- include ../elements/sidebar.ejs %>

            <div id="templatemo_content_right">
                <h1>Books List</h1>
                <% for(var i=0; i< books.length; i++) {%>
                <div class="templatemo_product_box">
                    <h1><%= books[i].name %><span>(by <%= books[i].author %>)</span></h1>
                    <img src="/static/images/templatemo_image_01.jpg" alt="image" />
                    <div class="product_info">
                        <p><%= books[i].note %></p>
                        <h3>$<%= books[i].price %></h3>
                        <div class="buy_now_button"><a href="/books/book/<%= books[i]._id %>">Buy Now</a></div>
                        <div class="detail_button"><a href="/books/book/<%= books[i]._id %>">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>
                <div class="cleaner_with_width">&nbsp;</div>
                <% } 
                    if(!books.length) {
                        %>
                        <h1>No Record Found</h1>
                        <%
                    }
                %>
            <ul>
                <%
                if(numofPages > 1) {
                    for(var i=1; i<= numofPages; i++) {
                        %>
                        <li><a href="/books/<%= i %>"><%= i %></a></li>
                        <%
                    }
                }
                %>
            </ul>
            </div> <!-- end of content right -->
            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->
        <%- include ../elements/footer.ejs %>
    </div>
</body>
<%- include ../elements/foot.ejs %>