<%- include ../elements/head.ejs %>
<body>
    <div id="templatemo_container">
        <%- include ../elements/header.ejs %>
        <div id="templatemo_content">
            <%- include ../elements/sidebar.ejs %>

            <div id="templatemo_content_right">

                <h1><%= name %> <span>(by <%= author%>)</span>
                    <a href="/books/delete/<%= _id %>" style="float: right; color: red;">Delete</a>
                    <a href="/books/edit/<%= _id %>" style="float: right; color: red; margin: 0 13px 0 0;">Edit</a>
                </h1>
                <div class="image_panel"><img src="/static/images/templatemo_image_02.jpg" alt="CSS Template" width="100" height="150" /></div>
                <h2><%= note %></h2>
                <ul>
                    <li>By Deke <a href="javascript:void(0)"><%= author%></a></li>
                    <li>Pages: <%= pages %></li>
                    <li>Price: $<%= price %></li>
                </ul>
                <p><%= description%></p>
                <div class="cleaner_with_height">&nbsp;</div>

                <a href="javascript:void(0)"><img src="/static/images/templatemo_ads.jpg" alt="css template ad" /></a>

            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->
        <%- include ../elements/footer.ejs %>
    </div>
</body>
<%- include ../elements/foot.ejs %>