<div id="templatemo_footer">
    <a href="javascript:void(0)">Home</a> | <a href="/books">Books</a> <br />Copyright © 2048 <a href="javascript:void(0)"><strong>Your Company Name</strong></a> | 
</div> 
<!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
