<div id="templatemo_menu">
    <ul>
        <li><a href="/" class="current">Home</a></li>
        <li><a href="/books" class="current">Books</a></li>
        <li><a href="/books/add" class="current">Add New Book</a></li>
    </ul>
</div> <!-- end of menu -->
<div id="templatemo_header">
    <div id="templatemo_special_offers">
        <p>
            <span>25%</span> discounts for
            purchase over $80
        </p>
        <a href="javascript:void(0)" style="margin-left: 50px;">Read more...</a>
    </div>
    <div id="templatemo_new_books">
        <ul>
            <li>Suspen disse</li>
            <li>Maece nas metus</li>
            <li>In sed risus ac feli</li>
        </ul>
        <a href="javascript:void(0)" style="margin-left: 50px;">Read more...</a>
    </div>
</div> <!-- end of header -->