<%- include elements/head.ejs %>
<body>
    <div id="templatemo_container">
        <%- include elements/header.ejs %>
        <div id="templatemo_content">
            <%- include elements/sidebar.ejs %>
            <div id="templatemo_content_right">
                <form method="POST" action="/add">
                    <div class="form-control">
                        <label>Book Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-control">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
        <%- include elements/footer.ejs %>
    </div>
</body>
<%- include elements/foot.ejs %>